body {
    font-family: 'Open Sans', sans-serif;
    
    background-image: url(https://images.pexels.com/photos/934011/pexels-photo-934011.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
 
}

h1{
    font-size: 55px;
}

h2{
    font-size: 30px;
}

h3{
    font-size: 25px;
}

p{
    font-size: 18px;
}



nav ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    margin: 0 40%;
    list-style: none;
    padding: 0;
}

a{
    color: black;
    text-decoration: none;
}

a:hover {
    color: #cd7f7f;
}



.main, #contact, footer{
    text-align: center;
}



.main{
    margin: 4% 20% 0 20%;
}
#about, #projects{
    margin: 4% 25%;
}

#projects h3{
    margin: 0 0 10% 0;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
}

.grid p{
    font-style: italic;
}

.grid img{
    width: 25%;
    
}

#contact{
    margin: 7% 0 0 0;
}
#contact img{
    width: 3%;
    
}

footer {
    margin: 5% 25%;
    border-top: solid black .5px;
    
}

footer p{
    font-size: 16px;
}




